/*!
 * added padding to row item to create space between top and bottom static navbars
 * added padding to jumbotron item to create space between top static navbar
 */
 




.page-header {
	margin-top:0;
}


.panel-body {
	padding-top:0;
}

.panel-body h4{
	color: #61381e;
}
	
.panel-body p {
	color: #595959;
}

.row {
	margin-top: 50px;
	margin-bottom: 60px;
}

.row h3 {
	color: #61381e;
}


.jumbotron {
	background-color: #d2e699;
}

.jumbotron h1 {
    color: #61381e;
}


.jumbotron h2 {
    color: #61381e;
}

.jumbotron p {
    color: #61381e;
}

.featuredImg {
	margin-bottom: 15px;
}

.btn-accent {
	background-color: #ECF5D5;
	color: #61381e;
}

.jumbotron img {
	padding-top: 20px;
}

.list-group-item {
	background-color: #f6faeb;
}