/*
Copyright (2007) Matrix: Michigan State University

This file is part of Pbuilder.

Project Builder is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

Project Builder is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
a {color: #76690D;}
a:visited {color: #999966;}
a:hover {color: #C1A827;}

#header {float: left; width: 975px; height: 127px; background-color: #cc9933; background-image: url('images/header_classic.jpg');}

#left a:link{color: #76690D;}
#left a:visited{color: #999966;}
#left a:hover{color: #C1A827;}

#login {float: right; padding: 10px 15px 0px 0px; color: #000;}
#login a:link {color: #fff;}
#login a:visited {color: #fff;}
#login a:hover {color: #fff;}

#bottom {float: left; /*background-image: url('images/bottom.jpg');*/ background-color: #7A96BD; width: 975px; height: 19px; line-height: 0px; font-size: 0px;}

