/*
Copyright (2007) Matrix: Michigan State University

This file is part of Pbuilder.

Project Builder is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

Project Builder is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
body{
	background: #093347 url(../images/body_background.gif) no-repeat;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 66px 0 0 0;}
	

h1{
	color: #8499A3;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	position: absolute;
	left: 325px;
	top: 3px;
	margin: 0;
	padding: 0;}	

h2{
	background: #BBB38C;
	border-bottom: 1px solid #ffd414;
	color: #093347;
	font-size: 15px;
	margin: 0;
	padding: 4px 4px 4px 20px;}
	
/* Universal Formatting */

#content{
	background: #F6EAD0;
	border: 1px solid #FFD414;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 10px 0;
	width: 735px;}

#footer{
	background: url(../images/footer_background.gif) no-repeat;
	color: #89A2B3;
	float: left;
	font-size: 10px;
	padding: 5px 0 0 16px;
	height: 36px;
	width: 734px;}

#footer a{
	color: #89A2B3;}
	
/* index2 page */
	
#projects {
	color: black;
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0 20px 0 20px;}
	
#projects ul{
	list-style-type: none;
	margin: 0;
	padding: 0;}
	
#projects li{
	border: 1px solid black;
	float: left;
	margin: 5px;
	padding: 0;
	text-align: center;}
	
#projects a{
	color: black;
	display: block;
	height: 80px;
	padding: 5px;
	width: 80px;}
	
#projects a:hover{
	background: white url(../images/project_bg.gif) center no-repeat;
	font-size: 14px;}
	
/* Main Navigation (the buttons on the right) */

#mainNav {
	float: right;
	margin: 0 0 0 10px;
	width: 160px;}
	
#mainNav ul{
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;}
	
#mainNav li{
	float: right;
	margin: 0;
	padding: 0;}
	
#mainNav a{
	background: #C8C9BB;
	border-top: 1px solid white;
	border-right: 1px solid #093347;
	border-bottom: 1px solid black;
	border-left: 1px solid white;
	color: #093347;
	display: block;
	float: right;
	font-size: 12px;
	padding: 2px 4px 2px 20px;
	text-decoration: none;
	width: 136px;}
	
#mainNav a:hover{
	background: #476675;
	border-top: 1px solid #093347;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	border-left: 1px solid #093347;
	color: white;}
	
/* Main Navigation: upper right white buttons */

#loginNav{
	color: #8499A3;
	font-size: 12px;
	position: absolute;
	left: 325px;
	top: 40px;}

#loginNav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;}

#loginNav li{
	float: left;
	margin: 0;
	padding: 0 15px 0 0;}
	
#loginNav li a{
	color: #8499A3;
	float: left;
	text-decoration: none;}
	
#loginNav li a:hover{
	color: white;
	text-decoration: underline;}

/* The Calander */

.calander{
	border-bottom: none;
	width: auto;}

.calander .header{
	padding: 0 0 10px 0;
	text-align: center;}

.calander .header a{
	font-weight: bold;
	text-decoration: none;}

.calander .dayName {
	padding: 0 0 5px 0;
	text-align: center;}

.emptyDay{
	background: gray;
	height: 0px;}

.otherDay a{
	background: #C8C9BB;
	border-top: 1px solid white;
	border-right: 1px solid #89A2B3;
	border-bottom: 1px solid black;
	border-left: 1px solid #F6EAD0;
	color: #476675;
	display: block;
	padding: 4px;
	height: 21px;
	text-decoration: none;
	width: 25px}

.otherDay a:hover{
	background: #476675;
	border-top: 1px solid black;
	border-right: 1px solid #F6EAD0;
	border-bottom: 1px solid white;
	border-left: 1px solid black;
	color: white;}	

.CotherDay a{
	background: white;
	border: 1px solid white;
	color: black;
	display: block;
	height: 21px;
	padding: 4px;
	text-decoration: none;}

/* Select a Scheme */

.up{
	background: url(../images/up.gif) no-repeat;
	display: block;
	height: 0px;
	overflow: hidden;
	padding: 13px 0 0 0;
	width: 13px;}

.down{
	background: url(../images/down.gif) no-repeat;
	display: block;
	height: 0px;
	overflow: hidden;
	padding: 13px 0 0 0;
	width: 13px;}

#schemeSelectTable{}
	
	
#schemeOptions, #objectMenu {
	background: #093347;
	border-top: 1px solid black;
	border-right: 1px solid #C8C9BB;
	border-bottom: 1px solid #C8C9BB;
	border-left: 1px solid black;
	clear: right;
	float: right;
	font-size: 11px;
	margin: 0;
	width: 160px;}

#schemeOptions ul, #objectMenu ul{
	list-style: none;
	margin: 0;
	padding: 0;}

#schemeOptions ul li, #objectMenu ul li{
	margin: 0;
	padding: 3px 0px 3px 20px;}

#schemeOptions ul li a, #objectMenu ul li a{
	color: white;
	margin: 0;
	padding: 0;
	text-decoration: none;}
	
#schemeOptions ul li a:hover, #objectMenu ul li a:hover{
	text-decoration: underline;}
	
	
	
	
	

/* miscellanious class tags */

.alert{
	color: red;
	font-weight: bold;}
	
.code{
	background: white;
	border: 2px solid black;
	float: right;
	padding: 5px;
	width: 445px;}
	
.MPPlogin{
	float: right;
	width: 50%;}
	
.MPPsubmit{
	background: #C8C9BB url(../images/submit.gif) right no-repeat;
	border: 1px solid #89A2B3;
	color: #124566;
	font-size: .8em;
	margin-top: 4px;
	padding: 0 22px 0 5px;
	width: 160px;}
	
.MPPsubmit:hover{
	background: #C8C9BB url(../images/submit_hover.gif) right no-repeat;
	color: black;}
	
.MPPlinks {
	float: right;
	width: 50%;}	

.MPPlinks input{
	clear: both;
	float: left;}
	
.MPPname{
	float: left;
	padding-bottom: 30px;
	width: 50%;}
	

.MPPpassport td{
	background: #F6EAD0;}
	
.MPPpassportlink{
	display: none;}
	
.MPPlogo{
	display: none;}
	
.return {
	float: left;
	clear: both;}
	
.return .button{
	background: #C8C9BB url(../images/back.gif) left center no-repeat;
	border: 1px solid #89A2B3;
	color: black;
	display: block;
	font-size: .8em;
	padding: 2px 5px 2px 35px;
	text-decoration: none;}
	
.return .button:hover{
	text-decoration: underline;}

.submit{
	background: #C8C9BB;
	border: 1px solid #89A2B3;
	color: #476675;
	display: block;
	font-size: 10px;
	margin: 0;
	padding: 5px 2px 5px 2px;
	text-align: center;
	text-decoration: none;
	width: 100px;}

.submit:hover{
	background: #476675;
	color: white;}

.leftSide{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	padding: 4px 4px 4px 20px;
	width: 50%;}

.rightSide{
	border-top: 1px solid black;
	border-right: 1px solid black;
	padding: 4px 4px 4px 20px;
	width: 50%;}


/* Tables for pb_select_scheme */
	
.ds_scheme{
	font-size: 12px;
	font-weight: bold;}
	
.control_table{
	background: gray;}
	
.ds_control_header{
	font-size: 10px;
	font-weight: bold;
	text-align: left;}
	
.ds_control_header td{
	background: #C8C9BB;
	border-top: 1px solid white;
	border-right: 1px solid #89A2B3;
	border-bottom: 1px solid black;
	border-left: 1px solid #F6EAD0;
	color: #476675;
	padding: 4px;
	vertical-align: top;}
	
.ds_control{
	font-size: 10px;}
	
.ds_control td{
	padding: 4px;
	vertical-align: top;
	border-right: 1px solid black;
	border-bottom: 1px solid black;}	
	
.ds_control a{
	color: black;}
	
.ds_control a:hover{
	color: white;}
	
.ds_control td table td{
	border: 0px;
	padding: 0px;}


	
.ds_group_delete a, .ds_control_add a{
	color: black;
	font-size: 10px;
	padding: 4px;
	}

/* Delete button */

.delete{
	background: url(../images/delete.gif) no-repeat;
	display: block;
	height: 0;
	padding: 14px 0 0 0;
	overflow: hidden;
	width: 14px;}

.delete:hover{
	background: url(../images/delete.gif) 0px -14px no-repeat;}
	
/* The div holding the scheme table */

#schemeTable {
	float: left;
	width: 300px;}
	
#schemeTable table{
	text-align: left;}
	
/* Forum styling */

#forum .button{
	color: black;}
	
.forumDelete{
	padding: 4px 0 10px 0;}

.forumHeader{
	border: 1px solid black;
	font-weight: bold;
	padding: 4px 5px 4px 5px;}
	
.fForum{
	}
	
.fTopic{
	width: 10%;}
	
.fThread{
	width: 10%;}
	
#forum table tr td{
	vertical-align: top;}
	
.tReplies{
	width: 10%;}
	
.tViews{
	width: 10%;}

.taskDue{
	width: 15%;}
	
.taskStatus{
	width: 15%;}
	
/* pb_view_scheme */

.schemeTable table td{
	border: 1px solid black;
	color:}
	
/* PBassoc_popup.php */

#popupWrapper{
	}
	
.closePopup{
	background: url(../images/close.gif) no-repeat;
	border: 0px;
	bottom: 0px;
	display: block;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 0px;
	width: 64px;}

.id {
	display: none;}
	
.results {
	background: #F6EAD0;
	border: 1px solid #FFD414;
	float: left;
	margin: 0 16px 16px 16px;
	padding: 10px;
	width: 550px;}
	
.record{
	border-bottom: 1px solid black;
	float: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 475px;}
	
.record a{
	float: right;}
	

	
	
.record input{
	float: left;}
	
.record .id, .altText, .name{}
	
.record .name{
	}
	
.searchForm{
	float: right;
	margin-right: 20px;}
	
.rLabel{
	clear: left;
	float: left;
	font-weight: bold;
	padding: 0 10px 0 0;
	text-align: right;
	white-space: nowrap;
	min-width: 100px;}
	
.rValue{
	float: left;}
	
/*fieldset select {
	width: 120px;}*/
	
#submitgroup {
	display: block;
	float: left;
	width: 10px;
	font-weight: bold;}
	