#On 404 Page not found, redirect to accountLogin.php
ErrorDocument 404 /<PATH TO ROOT>/accountLogin.php

# Dev Example
#ErrorDocument 404 /~first.last/koraDev/accountLogin.php

php_value upload_max_filesize 3072M
php_value post_max_size 3073M
php_value memory_limit 3074M
php_value max_execution_time 3000
php_value max_input_time 3000